<div ng-controller="RechargeController">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-full-primary">
                <div class="panel-heading">USD 12 (1000 sms)</div>
                <div class="panel-body">
                    <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac
                        lectus a rhoncusac tempus odio.</p>
                    <p>Aliquam posuere volutpat turpis, ut euimod diam pellentesque
                        at. Sed sit amet nulla a dui dignisim euismod. Morbi luctus
                        elementum dictum. Donec convallis mattis elit id varius. Quisque
                        facilisis sapien quis mauris,, erat condimentum.</p>
                    <div class="">
                        <button ng-click="buy(1000)" class="btn btn-space btn-primary">
                            <i class="icon icon-left mdi mdi-check"></i> Buy
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-full-danger">
                <div class="panel-heading">USD 24 (3000 sms)</div>
                <div class="panel-body">
                    <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac
                        lectus a rhoncusac tempus odio.</p>
                    <p>Aliquam posuere volutpat turpis, ut euimod diam pellentesque
                        at. Sed sit amet nulla a dui dignisim euismod. Morbi luctus
                        elementum dictum. Donec convallis mattis elit id varius. Quisque
                        facilisis sapien quis mauris,, erat condimentum.</p>
                    <div class="">
                        <button ng-click="buy(3000)" class="btn btn-space btn-danger">
                            <i class="icon icon-left mdi mdi-check"></i> Buy
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-full-warning">
                <div class="panel-heading">USD 30 (5000 sms)</div>
                <div class="panel-body">
                    <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac
                        lectus a rhoncusac tempus odio.</p>
                    <p>Aliquam posuere volutpat turpis, ut euimod diam pellentesque
                        at. Sed sit amet nulla a dui dignisim euismod. Morbi luctus
                        elementum dictum. Donec convallis mattis elit id varius. Quisque
                        facilisis sapien quis mauris,, erat condimentum.</p>
                    <div class="">
                        <button ng-click="buy(5000)" class="btn btn-space btn-warning">
                            <i class="icon icon-left mdi mdi-check"></i> Buy
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr>
    <p class="text-success">or choose a number of sms to buy </p>
    <form name="sms">
    <div class="form-group">
        <input  ng-required="true" name="nbSms" type="number" class="form-control" ng-model="nbSms" />
        <span class="text-danger help-block" ng-show="sms.nbSms.$invalid" >this is required !!</span>
    </div>
        <button ng-click="otherPayementMethod()" class="btn btn-success">order</button>
    </form>

</div>


