<div ng-controller="SmsTemplateController">

    <button ng-click="showAddModal()" class="btn btn-space btn-primary"><i
            class="icon icon-left mdi mdi-cloud-done"></i>add New Template
    </button>


    <div class="row">
        <!--Responsive table-->
        <div class="col-sm-12">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">Responsive Table
                    <div class="tools"><span class="icon mdi mdi-download"></span><span
                            class="icon mdi mdi-more-vert"></span></div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive noSwipe">
                        <table id="table" class="table table-striped table-hover">
                            <thead>
                            <tr>


                                <th style="width:20%;">name</th>
                                <th style="width:50%;">template</th>
                                <th style="width:30%;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="template in templates" id="{{template.idSmsTemplate}}">

                                <td class="cell-detail"><span>{{template.name}}</span></td>
                                <td><span>{{template.smsTemplate}}</span></td>
                                <td class="text-right">
                                    <div class="btn-group btn-space">
                                        <button ng-click="deleteSmsTemplate(template)" type="button"
                                                class="btn btn-danger"><i class="icon mdi mdi-delete"></i></button>
                                        <button type="button" class="btn btn-warning" ng-click="showEdit(template)"><i
                                                class="icon mdi mdi-edit"></i></button>
                                        <button type="button" class="btn btn-primary" ng-click="show(template)"><i
                                                class="icon mdi mdi-eye"></i></button>
                                    </div>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"> Edit</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Name</label>
                            <input type="text" ng-model="templateNameEdit" class="form-control" id="recipient-name"
                                   placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="error-text" class="control-label">Template</label>
                            <textarea ng-model="templateEdit" class="form-control" id="error-text"
                                      placeholder="Template"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="editSmsTemplate()" class="btn btn-success">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"> Edit</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Name</label>
                            <input type="text" ng-model="name" class="form-control" id="recipient-name"
                                   placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="error-text" class="control-label">Template</label>
                            <textarea ng-model="template" class="form-control" id="error-text"
                                      placeholder="Template"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addSmsTemplate()" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="eyeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"> Edit</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Name</label>
                            <input type="text" disabled="" ng-model="templateNameShow" class="form-control"
                                   id="recipient-name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="error-text" class="control-label">Template</label>
                            <textarea ng-model="templateShow" disabled="" class="form-control" id="error-text"
                                      placeholder="Template"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>






